@model List<Urun>

@{
    decimal toplamFiyat = 0;
    if (Model != null)
    {
        toplamFiyat = Model.Sum(I => I.Fiyat);

    }
}
@if (Model != null)
{
    <div>
        <div class="card">
            <h5 class="card-header">Tutar Bilgileri</h5>
            <div class="card-body">
                <p class="card-text">Toplam Sepet Tutarı: @toplamFiyat TL</p>
                <a asp-action="Index" asp-controller="Home" class="btn btn-warning">Alışverişe Devam Et</a>
                <a asp-action="SepetiBosalt" asp-controller="Home" asp-route-fiyat="@toplamFiyat" class="btn btn-primary">Satın Al</a>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="card my-1 w-100">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/@item.Resim" class="img-fluid rounded-start" alt="@item.Ad">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Ad</h5>
                            <p class="card-text">@item.Fiyat TL</p>
                            <a asp-action="SepettenCikar" asp-controller="Home" asp-route-id="@item.Id">Sepetten Çıkar</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
}
else
{
<div class="card text-center">
    <div class="card-header">
        <div class="spinner-grow text-bg-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Sepetiniz Boş!</h5>
        <p class="card-text">Henüz Sepetinize Bir Ürün Eklemediniz.</p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Alışverişe Dön</a>
    </div>
    <div class="card-footer text-muted">
        İyi Alışverişler
    </div>
</div>
}
